.statistics{
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: darkgray;
    padding: 50px;
}

.title,
.stat_list {
    height: 100px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.title,
.stat_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label{
    padding: 0 0 22px;
} 

.label,
.percentage{
    color: white;
}

.item{
    background-color: royalblue;
}