.transaction_history{
    text-align: center;
    border: 2px solid #302b2b;
    width: 80%;
    border-radius: 5px;
    color: #302b2b;
}

thead{
    background-color: rgb(34, 116, 211);
}

tr{
    height: 50px;
}
tr:nth-child(2n){
    background-color: turquoise;
}

th{
    color: white;
}